<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>  
    <clear/>  
    <add name="StockDB" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=profitcenter;Uid=profitcenter;Pwd=0000;persistsecurityinfo=True;"/>  
  </connectionStrings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="mex" name="Receiver.Service.StockService">
                <endpoint address="soap.udp://224.0.0.1:34197/StockService" binding="udpBinding" contract="Receiver.Service.IStockService"/>
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mex">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:34196/StockService/mex"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>

  <appSettings configSource="ProfitCenter.config"/>
</configuration>
